table {
    border: black 1px solid;
    border-collapse: collapse;
}

th, td {
    border: black 1px solid;
    padding: 10px;
}

.user-list-view {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}